{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Forest Design</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Nunito:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Navigation menu, logo, etc. -->
    </header>
    <main>
        <!-- Content block, to be overridden by child templates -->
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Footer content, copyright, etc. -->
    </footer>
</body>
</html>