<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Page</title>
    <link rel="stylesheet" href="../../plants/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Nunito:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="left-two-thirds">
        <div class="plant-header">
            <img class="main-pic" src="https://inaturalist-open-data.s3.amazonaws.com/photos/280430688/original.jpeg" alt="Photo of chinese chestnut" />
            <div class="plant-info">
                <div class="center-me">
                    <h1>Chinese Chestnut</h1>
                    <h2>Castanea mollissima</h2>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button>Add to...</button>
            <button>Edit</button>
            <button>'Nother btn</button>
            <button>And another</button>
        </div>
        <p>
            Castanea mollissima, commonly known as the Chinese chestnut, is a deciduous tree native to China and other parts of East Asia. 
            It is known for producing edible chestnuts and has a broad, spreading canopy with glossy, serrated leaves. 
            The tree is highly resistant to chestnut blight, making it a valuable species for cultivation in chestnut restoration efforts. 
            Chinese chestnuts thrive in well-drained soils and full sun, and they are grown both for their delicious nuts and as ornamental trees.
        </p>
    </div>
    <div class="right-one-third">
        <div class="row">
            <div class="category">Height</div>
            <div class="value">Up to 30 feet</div>
        </div>
        <div class="row">
            <div class="category">Width</div>
            <div class="value">Up to 15 feet</div>
        </div>
        <div class="row">
            <div class="category">Moisture</div>
            <div class="value">Requires moderate moisture</div>
        </div>
        <div class="row">
            <div class="category">Shade Tolerance</div>
            <div class="value">Tolerates partial shade</div>
        </div>
    </div>
    

</body>
</html>

